/* base variables */
:root {
    --screenmin-green: #4ef161;
    --dark-jungle-green: #161f1f;
    --allports: #161f1f;
    --turquose: #3cf4ca;
    --link-color: #808080;
    --link-hover-color: color(var(--link-color) tint(20%));
}

.foo .bar {
    color: var(--screenmin-green);
    background-color: var(--dark-jungle-green);
}
.foo .bar a {
    color: var(--link-color);
}
.foo .bar a:hover {
    color: (var(--link-color) tint(20%));
}


/* variable interploation 👿  failure */
:root {
    --class-name: nav;
    --class-name-expend: bar;
}
.var(--class-name) {
    color: var(--allports);
}
(.var(--class-name))-var(--class-name-expend) {
    font-weight: bold;
    text-decoration: none;
}


/* variable urls 👿  failure */
:root {
    --image-content-url: './Content/images';
}
.foo {
    background: url(var(--image-content-url)/background.png);
}

