.foo {
    border-radius: 5px;
}
.bar {
    border-radius: 20px / 40px;
}
.tmp {
    transition: box-shadow 0.2s linear, color .4s .2s ease;
}
span {
    opacity: 0.5;
}
@keyframes HY {
    0% {
        transform: scale(1.5);
        color: blue;
    }
    50% {
        transform: scale(2);
        color: red;
    }
}
p {
    animation: HY;
}

