/* base mixin include 不支持 👿  */
a()
    color #333
.b
    a()

/* 不输出mixin本身 */
c()
    font-size 12px
.d
    c();

/* mixin function */
border-radius(radius)
    -webkit-border-radius radius
    -moz-border-radius radius
    border-radius radius
.e
    border-radius 10px

/* mixin function 参数默认值&多参数 */
transition(time = 0.5s, action = ease, scope = all)
    -webkit-transition time action scope
    -moz-transition time action scope
    transition time action scope
.f
    transition()

/* mixin function arguments ❤️  */
box-shadow()
    -webkit-box-shadow arguments
    -moz-box-shadow arguments
    box-shadow arguments
.g
    box-shadow(0 0 1px #000)

/* mixin function 运算 ❤️  */
average(x, y)
    (x + y) / 2
.i
    padding average(18px, 28px)

/* mixin scope ❤️  */
color = white
j(color = blue)
    background-color color
    {block}
    border-color color
.k
    +j()
        color color
