/* color functions */
red(#c00) // => 204
red(#000, 255) // => #f00
alpha(#fff) // => 1
alpha(rgba(0,0,0,0.3)) // => 0.3
dark(#005716) // => true
dark(white) // => false
light(white) // => true
light(#00FF40) // => true
hue(hsla(50deg, 100%, 80%)) // => 50deg
hue(#00c, 90deg) // => #6c0


unit(10) // => ''
unit(15in) // => 'in'
unit(15%, px) // => 15px

/* math functions */
abs(-5px) // => 5px
ceil(5.5in) // => 6in
floor(5.6px) // => 5px
round(5.4px) // => 5px
ceil(5.52px,1) // => 5.6px
floor(5.57px,1) // => 5.5px
round(5.52px,1) // => 5.5px
sin(3*PI/4) // => 0.707106781
cos(180deg) // => -1
tan(90deg) // => Infinity
min(1, 5) // => 1
max(1, 5) // => 5
even(6px) // => true
odd(5mm) // => true
sum(1 2 3) // => 6
avg(1 2 3) // => 2
